.Cart {
    width: 300px;
    height: inherit;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Cart:hover,
.Cart:active {
    background-color: #C0DDF5;
}

.price, .quantity,.status {
    margin: 16px 0;
    color:black;
    text-decoration: unset;
}

.Cart button {
    margin: 1rem auto;
    font-size: 1rem;
    background-color: #dbdf0b;
    border: 1px solid #ecf00e;
    
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    color: #2c2922;
  }
  
  .Cart button:hover,
  .Cart button:active {
    background-color: #ffa600;
    border-color: #ffa600;
  }