.BuyerProduct {
    width: 250px;
    height: 300px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    height: inherit;
    margin-left: 40%;
}

.BuyerProduct:hover,
.BuyerProduct:active {
    background-color: #C0DDF5;
}

.price, .quantity,.status {
    margin: 16px 0;
    color:black;
    text-decoration: unset;
}

.BuyerProduct button {
    margin: 1rem auto;
    font-size: 1rem;
    background-color: #ffbb00;
    border: 1px solid #ffbb00;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    color: #2c2922;
  }
  
  .BuyerProduct button:hover,
  .BuyerProduct button:active {
    background-color: #ffa600;
    border-color: #ffa600;
  }